body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e5e7eb;
}

.wrapper{
  display: flex;
  justify-content: center;
}

h1{
  margin: 20px;
}

h2{
  margin: 15px;
}

.container{
  background-color: white;
  box-shadow: 2px 2px 20px lightgray;
  border-radius: 8px;
  width: 350px;
  padding: 20px;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#task, #description{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-family: sans-serif;
}

#description{
  height: 70px;
}

.dateRow{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 15px;
}

#date{
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.radioGroup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 350px;
}

.btnAdd{
  border: none;
  background-color: #4285f4;
  width: 100%;
  color: white;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.btnAdd:hover{
  background-color: #0b53c9;
}

.taskContainer{
  margin: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 20px lightgray;
  padding: 20px 15px;
  text-align: left;
}

.p{
  color: grey;
  font-size: 16px;
  margin: 5px;
}

.firstRow p{
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

.firstRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edtBtn, .dltBtn{
  padding: 10px 17px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.edtBtn{
  background-color: #4285f4;
}

.edtBtn:hover{
  background-color: #0b53c9;
}

.dltBtn{
  background-color: #f44336;
}

.dltBtn:hover{
  background-color: #9c1208;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.edtInput, select{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 250px;
  font-size: 16px;
}
